/*** override primefaces style ***/
.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #373740;
    background: #191921 url(/SUMS-0.0.1-SNAPSHOT/javax.faces.resource/images/ui-bg_highlight-soft_15_191921_1x100.png.xhtml?ln=primefaces-midnight) 50% 50% repeat-x;
    font-weight: normal;
    color: #fafafa;
}
.ui-widget {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}