<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/sums</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.capstone.spring.model.Activity"/>
        <mapping resource="Activity.hbm.xml"/>
        <mapping class="com.capstone.spring.model.ActivityRegistrationRequest"/>
        <mapping resource="Activityregistrationrequest.hbm.xml"/>
        <mapping class="com.capstone.spring.model.Club"/>
        <mapping resource="Club.hbm.xml"/>
        <mapping resource="Clubregistrationrequest.hbm.xml"/>
        <mapping class="com.capstone.spring.model.ClubRegistrationRequest"/>
        <mapping class="com.capstone.spring.model.Role"/>
        <mapping resource="Role.hbm.xml"/>
        <mapping class="com.capstone.spring.model.User"/>
        <mapping resource="User.hbm.xml"/>
        <mapping class="com.capstone.spring.model.ClubNews"/>
        <mapping resource="Clubnews.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>